*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  
    background: linear-gradient(to right, #2a0845, #6441A5);
    background-size:200%;
}
body{
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  
    background: linear-gradient(to right, #2a0845, #6441A5);
    background-size:200%;
}

/* Navigation Bar Styles */
nav {
    position: fixed;
    margin-right: 5px;
    bottom: 5px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Optional background color for the footer */
    padding: 0px; /* Optional padding for the footer content */
    z-index: 999; /* Optional z-index to control the stacking order */
}
.page-link{
    background-color: #00000084;
    border-style: none;
    color: white;
}
.page-item a{
    text-decoration: none;
}
#active{
    background-color: #777;
    color: black;
}

/* About section styles */

.about-section{
    display: flex;
    flex-direction: row;
    margin: 40px;
}
.social-icons{
    margin:20px;
    width: 5vw;
    height: 19vh;
    display: flex;
    flex-direction: column;
    border-right: 3px  solid;
    border-width: 5px;
    align-items: center;
    justify-content: center;
    border-color: rgb(254, 252, 252);
}
.fa-linkedin-in,  .fa-github, .fa-envelope{
    color: #B0C4DE;
    margin: 10px;
    font-size: 20px;
}
.fa-linkedin-in:hover,  .fa-github:hover, .fa-envelope:hover{
    color: white;
}
.image-section{
    margin: 20px;
    width: 30vw;
}
.image-section img{
    margin-top: 40px;
    width: 400px;
    animation: bounce 5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(-35px);
    }
}

.about-description{
    margin: 20px;
}
.about-description h1{
    color: white;
    margin: 10px;
    font-size: 2rem;
}
.about-description h3{
    margin: 10px;
    font-size: 1.8rem;
    color: orange;
}
.about-description p{
    margin: 10px;
    color: #b8b8b8;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: justify;
    width: 48vw;
}
.about-description button{
    margin: 8px;
    padding: 12px;
    border-radius: 5px;
    border-style: none;
}
.about-description button:hover{
    background-color: #B0C4DE;
}


/* Education Page Styles */
.head{
    text-align: center;
    margin: 30px auto;
    font-size: 17px;
    color: rgb(162, 207, 244);
    background-color: rgba(0, 0, 0, 0.514);
    padding: 5px;
    width: 25vw;
    border-radius: 15px 15px 0px 0px;
}
.education-section{
    display: flex;
    margin: 32px;
    justify-content: space-around;
    font-size: 15px;
}
.education-details{
   margin: 30px 5px 5px 15px;
   height: 62vh;
   border-radius: 5px 5px;
}
.card-body p{
    color: rgb(162, 207, 244);
}
.card{
    background-color: #b0c4de83;
    box-shadow:  10px 10px 2px black;
    transition: transform 0.3s ease;
}
.card:hover{
    transform: scale(1.1);
    backface-visibility: visible;
}
.card p{
    color: #2c2c2a;
    width: 20vw; 
}

.skills{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}
  
.skill-card {
    background-color: rgba(0, 0, 0, 0.379);
    width: 20vw;
    height: 15vw;
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.skill-card:hover{
    transform: scale(1.05);
}
  
.title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #3aa1c1;
}
  
.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.tag {
    background-color: #000008;
    color: #3aa1c1;
    padding: 7px 15px;
    font-size: 15px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}
  
.tag:hover {
    background-color: #b0c4de83;
    color: #000000;
}



/* Experience section stylings */

.experience {
    /* text-align: center; */
    padding: 10px;
    margin: auto;
  }
  
  .section-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
  }
  
  .experience-list {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    justify-content: space-between; /* Distribute items evenly */
    gap: 15px;
  }
  
  .experience-item-odd,
  .experience-item-even {
    background-color: #00000074;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 20px); /* Adjust the width as needed */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px black;
    transition: transform 0.2s ease;
  }
  
  /* Remove margins for even items */
  .experience-item-even {
    margin-right: 0;
  }
  
  .experience-item:hover {
    transform: translateY(-10px);
  }
  
  .job-title {
    font-size: 1.1rem;
    color: rgb(162, 207, 244);
  }
  .company-section{
    display: flex;
    justify-content: space-between;
  }
  
  .company-section p {
    font-size: 15px;
    color: #f64904;
    margin-top: 5px;
  }
  
  .date {
    font-size: 13px;
    color: #777;
    margin-top: 5px;
  }
  
  .responsibilities {
    text-align: justify;
    margin-top: 10px;
  }
  
  .responsibilities li {
    font-size: 15px;
    color: #acabab;
    margin: 10px 0;
  }
  
  
/* Certificates Section Stylings */

#mycertificates {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#certificates {
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap to the next line */
    justify-content: center;
    margin-top: 15px; /* Center images horizontally */
}

#certificates img {
    width: 19%; /* Set the width to occupy 50% of the container width */
    height: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 2px;
    border-color: black;
    border-radius: 3%;
    margin: 5px 8px; /* Add some margin between the images */
}
#certificates img:hover {
    transform: scale(1.05); /* Apply scale transform on hover to create zoom effect */
}


/* Project section stylings */

.project-list{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:  50px auto;
    padding: 10px;
    gap: 20px;
    
}
.project{
    color: white;
    background-color: #00000084;
    border-radius: 10px;
    width: 12.5vw;
    box-shadow: 4px 3px 4px 1px black;
    text-align: left;
}
.project:hover{
    background-color: #bcbaba;
}
.project h2{
    color: white;
    font-size: 18px;
    padding: 10px;
    line-height: 0%;
}
.head-foot{
    background-color: #000000;
    border-style: none;
    border-radius: 0px;
}
.title-button{
    background-color: #000000e1;
    color:orange;
    border-style: none;
    border-radius: 0px;
}
.project-detail{
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  
    background: linear-gradient(to right, #2a0845, #20133a);
    color: white;
}

.project-description{
    text-align: justify;
    line-height: 1.6rem;
}
.btn{
    color: white;
}
.fa-square-up-right{
    margin-left: 10px;
}
















@media screen and (max-width: 576px) {

    /* About section styles */
    
    nav {
        position: static;
        width: 50vw;
        bottom: 0px;
        /* left: 0;
        right: 0; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        padding: 10px;
        z-index: 999;
    }
    .page-link{
        background-color: #00000084;
        border-style: none;
        color: white;
    }
    .page-item a{
        text-decoration: none;
    }
    #active{
        background-color: #777;
        color: black;
    }
    
    /* About section styles */
    
    .about-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 40px;
    }
    .social-icons{
        margin:5px auto;
        display: flex;
        flex-direction: row;
        border-right: none;
        align-items: center;
        justify-content: center;
    }
    .fa-linkedin-in,  .fa-github, .fa-envelope{
        color: #B0C4DE;
        margin: 5px 10px;
        font-size: 25px;
    }
    .fa-linkedin-in:hover,  .fa-github:hover, .fa-envelope:hover{
        color: white;
    }
    .image-section{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px auto;
    }
    .image-section img{
        margin: 5px auto;
        width: 300px;
        animation: bounce 5s infinite;
    }
    
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-50px);
        }
        50% {
            transform: translateY(-35px);
        }
    }
    
    .about-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
        width: 80vw;
    }
    .about-description h1{
        color: white;
        margin: 10px auto;
        font-size: 1.3rem;
        text-align: center;
    }
    .about-description h3{
        text-align: center;
        margin: 10px auto;
        font-size: 1.2rem;
        color: orange;
    }
    .about-description p{
        margin: 10px auto;
        color: #b8b8b8;
        font-size: 1.15rem;
        line-height: 2rem;
        text-align: justify;
        width:70vw;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .buttons button{
        margin: 5px auto;
        width: 40vw;
        padding: 8px;
        border-radius: 5px;
        border-style: none;

    }








    /* Education Page Styles(Responsiveness) */
    .head {
        font-size: 14px;
        width: 100%;
        border-radius: 0;
        margin: 5px;
    }
    .education-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
        font-size: 13px;
        margin-bottom: 0px;
        margin: 20px auto;
    }
    .education-details{
        margin:10px;
        height:48vh;
    }
    .card {
        width: 100% !important;
    }
    .card p {
        width: 100%;
    }
    .skills {
        margin: 10px auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skill-card {
        background-color: rgba(0, 0, 0, 0.379);
        width: 90vw; /* Adjusted width for responsiveness */
        height: fit-content;
        padding: 10px;
        border-radius: 10px;
        margin: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        text-align: center;
        overflow: visible;
        transition: transform 0.3s ease;
    }
    
    .skill-card:hover {
        transform: scale(1.05);
    }
    
    .title {
        font-size: 1.0rem;
        margin-bottom: 10px;
        color: #3aa1c1;
    }
    
    .tags {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* Allow tags to wrap to the next line if needed */
    }
    
    .tag {
        background-color: #000008;
        color: #3aa1c1;
        padding: 7px 10px;
        font-size: 14px; /* Adjusted font size */
        margin: 5px;
        border-radius: 10px;
        cursor: pointer;
    }
    
      
    
    
    
    /* Experience section stylings */
    
    .experience {
        /* text-align: center; */
        padding: 10px;
        margin: auto;
      }
      
      .section-title {
        font-size: 2.5rem;
        color: #333;
        margin-bottom: 40px;
      }
      
      .experience-list {
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap; /* Enable wrapping */
        justify-content: space-between; /* Distribute items evenly */
        gap: 15px;
      }
      
      .experience-item-odd,
      .experience-item-even {
        background-color: #00000074;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(50% - 20px); /* Adjust the width as needed */
        padding: 10px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 1px black;
        transition: transform 0.2s ease;
      }
      
      /* Remove margins for even items */
      .experience-item-even {
        margin-right: 0;
      }
      
      .experience-item:hover {
        transform: translateY(-10px);
      }
      
      .job-title {
        font-size: 1.1rem;
        color: rgb(162, 207, 244);
      }
      .company-section{
        display: flex;
        justify-content: space-between;
      }
      
      .company-section p {
        font-size: 15px;
        color: #f64904;
        margin-top: 5px;
      }
      
      .date {
        font-size: 13px;
        color: #777;
        margin-top: 5px;
      }
      
      .responsibilities {
        text-align: justify;
        margin-top: 10px;
      }
      
      .responsibilities li {
        font-size: 15px;
        color: #acabab;
        margin: 10px 0;
      }
      
      
    /* Certificates Section Stylings */
    
    #mycertificates {
        width: 90vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    #certificates {
        display: flex;
        flex-wrap: wrap; /* Allow images to wrap to the next line */
        justify-content: center;
        margin-top: 15px; /* Center images horizontally */
    }
    
    #certificates img {
        width: 19%; /* Set the width to occupy 50% of the container width */
        height: auto;
        box-sizing: border-box;
        box-shadow: 0px 0px 4px 2px;
        border-color: black;
        border-radius: 3%;
        margin: 5px 8px; /* Add some margin between the images */
    }
    #certificates img:hover {
        transform: scale(1.05); /* Apply scale transform on hover to create zoom effect */
    }
    
    
    /* Project section stylings */
    
    .project-list{
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin:  50px auto;
        padding: 10px;
        gap: 20px;
        
    }
    .project{
        color: white;
        background-color: #00000084;
        border-radius: 10px;
        width: 12.5vw;
        box-shadow: 4px 3px 4px 1px black;
        text-align: left;
    }
    .project:hover{
        background-color: #bcbaba;
    }
    .project h2{
        color: white;
        font-size: 18px;
        padding: 10px;
        line-height: 0%;
    }
    .head-foot{
        background-color: #000000;
        border-style: none;
        border-radius: 0px;
    }
    .title-button{
        background-color: #000000e1;
        color:orange;
        border-style: none;
        border-radius: 0px;
    }
    .project-detail{
        background: #6441A5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  
        background: linear-gradient(to right, #2a0845, #20133a);
        color: white;
    }
    
    .project-description{
        text-align: justify;
        line-height: 1.6rem;
    }
    .btn{
        color: white;
    }
    .fa-square-up-right{
        margin-left: 10px;
    }
    
}
